// Import
@import 'Partials/_homepage.scss';
@import 'Partials/_form.scss';
@import 'Partials/_singlebook.scss';


// Page settings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}