// Import
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import 'Partials/_homepage.scss';
@import 'Partials/_add_new.scss';
@import 'Partials/_singlebook.scss';



// Page settings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

// Generic classes
.d-none {
    display: none;
}