#single-book-wrapper {
    background-color: lightblue;
    width: 70%;
    margin: 50px auto;
    padding: 50px;

    ul {
        list-style: none;

        li {
            padding: 5px 10px;

            img {
                width: 150px;
                height: auto;
            }

            &#titolo {
                font-size: 30px;
            }
        }
    }
}